@import url(/extras/green-common.css);

.messagebubble {
    padding: 3px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    display: none;
}

.messagein {
    background-color: #8DC26F;
}

.messageout {
    background-color: #D3D3D3;
}

.rightshift {
    margin-left: 50px;
}

.leftshift {
    margin-right: 50px;
}

.messagein:hover {
    background-color: #ADE28F;
}

.messageout:hover {
    background-color: #F8F8F8;
}

.unread {
    font-weight: bold;
}

#convtable {
    border-collapse: separate;
    border-spacing: 6px;
}

#convtable td, #convtable th, #convtable a {
    background-color: beige;
    white-space: nowrap;
    font-size: 12px;
    vertical-align: middle;
}
