@import url(/extras/green-common.css);

#slideout {
    position: absolute;
    left: -1000px;
    overflow: hidden;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#slideout.on {
    position: relative;
    left: 0px;
}

#messagebox {
    background: white;
    border-style: groove;
    border-width: 2px;
    max-height: 500px;
    overflow: auto;
}

.messagebubble {
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5 px;
    margin: 5px;
    display: none;
}

.messagein {
    background: #8DC26F;
    margin-left: 50px;
}

.messagein:hover {
    background: #ADE28F;
}

.messageout {
    background: #D3D3D3;
    margin-right: 50px;
}

.messageout:hover {
    background: #F3F3F3;
}
